{% extends 'base.html' %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      {%if values.cctv_name == 'None'%} 전체 CCTV위치 {% else %}
      {{values.cctv_name}}CCTV위치 {%endif%}
    </h1>
  </div>
</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->
<div id="map" style="width: 600px; height: 500px"></div>
<script
  type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e07242e62a23bc32f7723be51b4883e3"
></script>

<script>
        var values = {{ values| tojson}};
        var cctv_list = values.cctv_list;
        for (let i in cctv_list) {
            console.log(i);
            console.log(cctv_list[i]);
            console.log(cctv_list[i].cctvname);
            if (cctv_list[i].cctvname == values.cctv_name){
                latitude = cctv_list[i].latitude;
                longitude = cctv_list[i].longitude;
                break;
            }
        }


  var container = document.getElementById('map');
  var options = {
  	center: new kakao.maps.LatLng(latitude, longitude),
  	level: 3,
  };

  var map = new kakao.maps.Map(container, options);

        var markerPosition = new kakao.maps.LatLng(latitude, longitude);

        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
        var imageSize = new kakao.maps.Size(24, 35);

        // 마커 이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: markerPosition,
            image: markerImage

        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
</script>
{% endblock %} {% block searchfrom %}
<form
  class="
    d-none d-sm-inline-block
    form-inline
    mr-auto
    ml-md-3
    my-2 my-md-0
    mw-100
    navbar-search
  "
  action="{{ url_for('cctvmap') }}"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control bg-light border-0 small"
      list="cctv_list"
      placeholder="221-CCTV위치검색"
      name="cctv"
      aria-label="Search"
      aria-describedby="basic-addon2"
      autocomplete="off"
    />
    <datalist id="cctv_list"> </datalist>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
{% endblock %} {% block searchfromM %}
<form
  class="form-inline mr-auto w-100 navbar-search"
  action="{{ url_for('cctvmap') }}"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control bg-light border-0 small"
      list="cctv_list"
      placeholder="모바일Search for..."
      name="cctv"
      aria-label="Search"
      aria-describedby="basic-addon2"
      autocomplete="off"
    />
    <datalist id="cctv_list"> </datalist>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
{% endblock %}
