{% extends 'base.html' %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      {%if values.cctv_name == 'None'%} 전체 1CCTV로그 {% else %}
      {{values.cctv_name}}2CCTV로그 {%endif%}
    </h1>
  </div>
</div>
<!-- /.container-fluid -->

{% if values.cctv_logs %} {% for cctv_log in values.cctv_logs %}

<div class="col-lg-6 mb-4">
  <a href="/postdetail?url={{cctv_log['s3_url']}}">
    <div class="card bg-primary text-white shadow">
      <div class="card-body">
        <tr>
          <td class="text-white">{{loop.index}}#log</td>
        </tr>
        <td>{{cctv_log["cctvname"]}}</td>
        <div class="text-white-50 small">
          <td>{{cctv_log["situation"]}}</td>
          <td>{{cctv_log["s3_url"]}}</td>
          <td>{{cctv_log["log_time"]}}</td>
        </div>
      </div>
    </div>
  </a>
</div>

{% endfor %} {% else %}
<h3>데이터가 존재하지 않습니다.</h3>
{% endif %}
<!-- End of Main Content -->
{% endblock %} {% block searchfrom %}
<form
  class="
    d-none d-sm-inline-block
    form-inline
    mr-auto
    ml-md-3
    my-2 my-md-0
    mw-100
    navbar-search
  "
  action="{{ url_for('cctvpost') }}"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control bg-light border-0 small"
      list="cctv_list"
      placeholder="221-CCTV위치검색"
      name="cctv"
      aria-label="Search"
      aria-describedby="basic-addon2"
      autocomplete="off"
    />
    <datalist id="cctv_list"> </datalist>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
{% endblock %} {% block searchfromM %}
<form
  class="form-inline mr-auto w-100 navbar-search"
  action="{{ url_for('cctvpost') }}"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control bg-light border-0 small"
      list="cctv_list"
      placeholder="모바일Search for..."
      name="cctv"
      aria-label="Search"
      aria-describedby="basic-addon2"
      autocomplete="off"
    />
    <datalist id="cctv_list"> </datalist>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
{% endblock %}
