{% extends 'base.html' %} {% block content %}
<!-- Begin Page Content -->

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">
    {%if values.cctv_name == 'None'%} 전체 스트리밍 {% else %}
    {{values.cctv_name}}스트리밍 {%endif%}
  </h1>
</div>
<img style="
    -webkit-user-select: none;
    margin: auto;
    background-color: hsl(0, 0%, 25%);"
  img id= image src="http://172.30.1.57:8090/?action=stream"
/>

<!-- /.container-fluid -->

<!-- End of Main Content -->
{% endblock %} {% block searchfrom %}
<form
  class="
    d-none d-sm-inline-block
    form-inline
    mr-auto
    ml-md-3
    my-2 my-md-0
    mw-100
    navbar-search
  "
  action="{{ url_for('streaming') }}"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control bg-light border-0 small"
      list="cctv_list"
      placeholder="221-CCTV위치검색"
      name="cctv"
      aria-label="Search"
      aria-describedby="basic-addon2"
      autocomplete="off"
    />
    <datalist id="cctv_list"> </datalist>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
{% endblock %} {% block searchfromM %}
<form
  class="form-inline mr-auto w-100 navbar-search"
  action="{{ url_for('streaming') }}"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control bg-light border-0 small"
      list="cctv_list"
      placeholder="모바일Search for..."
      name="cctv"
      aria-label="Search"
      aria-describedby="basic-addon2"
      autocomplete="off"
    />
    <datalist id="cctv_list"> </datalist>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form>
{% endblock %}
